@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background: #000;
}

.feelingz-mode * {
  transition: transform .18s ease;
}

.feelingz-mode button:hover,
.feelingz-mode article:hover,
.feelingz-mode a:hover {
  transform: rotate(-1.5deg) scale(1.02) translateY(-2px);
}
